 *.pyc
__pycache__/
envs/
# Ignorar todos los archivos .pt
*.pt
*.pth
*.jpg
*.JPG
*.png
*.PNG
*.jpeg
*.JPEG
*.webp
*.WEBP
*.csv
*.json
!data/info_terra_ChatGPT.json
!data/info_serengeti_ChatGPT.json
!data/info_terra_LLAMA.json
!data/info_serengeti_LLAMA.json
!info_terra_Phi.json
!info_serengeti_Phi.json
!info_terra_Qwen.json
!info_serengeti_Qwen.json
*.zip
*.tar
scatter_search_optimizer.py
graficas.py
graficas_wandb.py
wandb/
Best/
No_subir_repo/
*.tar
*.tar.gz
*.log
*.log.*
.vscode/
.idea/

