 *.pyc
__pycache__/
# Ignorar todos los archivos .pt
*.pt
*.pth
*.jpg
*.png
*.csv
*.json
!info_terra.json
!info_serengeti.json
*.zip
scatter_search_optimizer.py
graficas.py
graficas_wandb.py
wandb/
Best/
No_subir_repo/
