 *.pyc
__pycache__/
# Ignorar todos los archivos .pt
*.pt
*.pth
*.jpg
*.png
*.csv
*.json
!info_terra_ChatGPT.json
!info_serengeti_ChatGPT.json
!info_terra_LLAMA.json
!info_serengeti_LLAMA.json
!info_terra_Phi.json
!info_serengeti_Phi.json
!info_terra_Qwen.json
!info_serengeti_Qwen.json
*.zip
*.tar
scatter_search_optimizer.py
graficas.py
graficas_wandb.py
wandb/
Best/
No_subir_repo/
